.top h1{
    padding-left: 150px;
    font-family: tahoma;
    font-size : 50px;
}
*a{text-decoration:none;}
.top img{
    margin-left: 20px;
    width: 65%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.top iframe{
    padding-left:50px
}
.navbar2 a{
    font-size: 20px;
    float: left;
    padding : 10px 20px;
    font-family: cursive;
    color: white;
    margin-left:40px;
    border-radius: 20px;
    text-decoration: none;
}
.navbar2{
    background-color: rgb(59, 56, 56);
    overflow: hidden;
    width: 100%;
}
.navbar2 a:hover{
    background-color:black;
}
.info h1{
    padding-left: 30px;
    font-size: 40px;
}
.info p{
    margin-left : 30px;
    font-size:20px;
}
.info_heading a{
    padding-left:30px;
    font-size:40px;
}
.info_heading2 a{
    padding-left:30px;
    font-size:40px;
}
.info_heading3 a{
    padding-left:30px;
    font-size:40px;
}
.polaroid {
    width : 45%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float :left;
    padding-bottom: 0px;
    margin : 20px;
    margin-left: 40px;
}
.polaroid img {
    width: 100%
}
.container h2{
    font-family : cursive;
    text-align: center;
}
.container p{
    font-family: cursive;
}
.container {
    padding: 10px 20px;
}
.polaroid2 {
    width : 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float :left;
    padding-bottom: 0px;
    margin : 20px;
    padding-bottom: 10px;
}
.polaroid2 img {
    width: 100%
}
.container2{
    padding-bottom: 10px;
}
.container2 h2{
    font-family : cursive;
    text-align: center;
}
.container2 p{
    font-family: cursive;
}
.container2 a{
    text-decoration:none;
    color : white;
    background-color:black;
    margin-left:60px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0,);
    border-radius:30px;
}
.container2 a:hover{
    background-color:rgb(95, 92, 92);
    color:black;
}
.container2 {
    padding: 10px 20px;
}
div{
    float : left;
}
.seasons img{
    width: 40%;
    margin-left: 140px;
    box-shadow: 0 20px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0,0, 0.19);
}
.seasons h2{
    margin-left: 30px;
    font-size: 35px;
    font-family: cursive;
}
.seasons p{
    margin-left: 30px;
    font-size: 20px;
    font-family: cursive;
}